


<!-- tobbar fixieren -->

.topbar {
  display: flex;
  align-items: center;   
  gap: 100px;            
}


.topbar {
  position: fixed;
  top: 0px;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #5135ce8e;
  

  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

.topbar img {
  height: 30px;
  margin-right: 12px;
}

.topbar a {
  text-decoration: none;
}

.sitename {
  
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 20%;
  margin-top: 100px;
  color: #f200ff;

}


<!-- sidebar fixieren -->

.sidebar {
  display: flex;
  align-items: ;   
  gap: 100px;   
}

.sidebar {
  position: fixed;
  top: 60px;              
  left: 0;
  width: 220px;
  height: calc(100vh - 60px);
  background-color: #5135ce8e;
  color: var(--white);
  padding-top: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 20px;
  display: block;
}

.sidebar a:hover {
  background-color: rgb(139, 149, 214);
}


.content {
  margin-top: 60px;       /* Platz für Topbar */
  margin-left: 220px;    /* Platz für Sidebar */
  padding: 30px;
}


/*mein inhalt*/ 


textblöcke sollen alle gleich zentriert sein (selebr stil)

body {
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
  font-weight: 400;
}


h1, h2, h3 {
  font-weight: 700;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}


* {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}


.logo {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.logo img {
  height: 110px;    
  width: auto;
}



.content h1 {
  font-size: 70px;
  color: #191970;
}


.mystisch {
  color: rgb(9, 1, 101);
  font-weight: bold;
  text-shadow: 0 0 6px gold;
}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("https://thumbs.dreamstime.com/b/sitzendes-buddha-schattenbild-dekoratives-illustratio-vektor-der-weinlese-93560845.jpg") center/cover no-repeat;
  opacity: 0.3;
  z-index: -1; 
}

.profil_bilder {
  margin-top: 5px;
  margin-bottom: 5px;

  height: 200px;
  width: 180;
  border-color: #9f7b98;
  border-style: groove;
  border-width: 15px;
  


}


.table_details {
  
}